<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>demo</string>
	<key>CFBundleGetInfoString</key>
	<string>github.com/progrium/objc demo app</string>
	<key>CFBundleIconFile</key>
	<string>demo.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.mkrautz.objc</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2012 Mikkel Krautz &lt;mikkel@krautz.dk&gt;</string>
</dict>
</plist>
